{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">TASK TYPES</h4>
                  <div class="float-right"><a href="/admin-dashboard/create-tasktype" class="btn btn-primary btn-sm">Add New Task Type</a>
                  </div>
            </div>


             <div class="card-body">


                <div class="table-responsive">
                    <table id="example" class="display table-responsive-md" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Sr. no</th>
                                <th>Tast Type Name</th>
                                <th>Is Active</th>
                                <th>For All</th>
                                <th>Department</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                         <tbody>
                        {% for typename in  view_type_name  %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{typename.type_name}}</td>
                                <td>{{typename.is_active}}</td>
                                <td>{{typename.for_all}}</td>
                                <td>{{typename.programming_language_id}}</td>
                                <td>
                                    <a href="/admin-dashboard/edit-task-type/{{typename.id}}"  class="btn btn-sm btn-info">Edit</a>
                                </td>
                                <td><a href="/admin-dashboard/delete-task-type/{{typename.id}}" class="btn btn-sm btn-info">Delete</a></td>
                            </tr>
                         {% endfor %}
                        </tbody>
                    </table>
                </div>
             </div>
       </div>
    </div>
</div>
{% endblock %}
{% block js %}<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}

