{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">USER</h4>
                  <div class="float-right"><a href="/admin-dashboard/user-create" class="btn btn-primary btn-sm">Add New User</a>
                  </div>
             </div>
             <div class="card-body">


                <div class="table-responsive">
                    <table id="example" class="display table-responsive-md" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Sr. no</th>
                                <th>Office Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Is Employee</th>
                                <th>Department</th>
                                <th>Action</th>
                            </tr>
                         <tbody>
                        {% for person in  view_user %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{person.office_user_id}}</td>
                                <td>{{person.first_name}}</td>
                                <td>{{person.last_name}}</td>
                                <td>{{person.username}}</td>
                                <td>{{person.is_employee}}</td>
                                <td>{{person.programming_language_id}}</td>
                                <td><a href="/admin-dashboard/edit-user/{{person.id}}">Edit</a></td>
                            </tr>
                         {% endfor %}
                        </tbody>
                        </thead>
                    </table>
                </div>
             </div>
       </div>
    </div>
</div>
{% endblock %}
{% block js %}<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}
