{% extends 'base.html' %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">User Detail</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Profile</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="first_name" value="{{user.first_name}}" required>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="last_name" value="{{user.last_name}}" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  name="username"  value="{{user.username}}" required>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control"  name="password1"  value="{{user.password1}"  required>
                            </div>
                        </div>

<!--                          <div class="form-group row">-->
<!--                            <label class="col-sm-3 col-form-label">Confirmation Password</label>-->
<!--                            <div class="col-sm-9">-->
<!--                                <input type="password" class="form-control" value="{{user.password2}}" required >-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="email"  value="{{user.email}}"  required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="phone_number"  value="{{user.phone_number}}"  required>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Office Id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  name="office_user_id"  value="{{user.office_user_id}}"  required>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Reporting to</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  name="reporting_to" value="{{user.reporting_to}}" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department</label>
                            <div class="col-sm-9">

                                  <select class="form-control"  name="programming_language"  id="id_programming_language">

                                             {%for i in ProgrammingLanguage_data%}
                                        <option value={{i.pk}} {% if user.programming_language.pk == i.pk %} selected {% endif %}>{{i.language_name}}</option>
                                        {% endfor %}
                                    </select>
                            </div>

<!--                            <div class="row">-->
<!--                             <div class="col-md-12  text-right">-->
<!--                                     <button type="submit" class="btn btn-primary">Update</button>-->

<!--                             </div>-->
<!--                           </div>-->
                        </div>
                        <!-- <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Joined Date</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="{{request.user.programming_language.language_name}} " readonly>
                                            </div>
                                        </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}